
.body{
    background-color: black;
}


#ola{
    background-color:#59D3A5;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.755);
}

#iimage{

   padding: 5px 275px;

    width: 500px;
}

#cadastro{
    
    background-color: #DCECE2;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.755);
}

#campos{
   width: 155px;
    background-color: #d9d9d9;
    border-radius: 15px;
}

#titulo{
    color: gray;
font: 25px normal  ;

padding-left: 1px;

}

#caixapostagem{
    color: black;
    font: normal 14pt italic;
    background-color: white;
        
    
}
#caixapostagemdesc{
    color: black;
    font: normal 14pt italic;
    background-color: white;
    height: 250px;
}